* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color:rgb(181, 191, 193);
}

/* Style the header */
.header {
  background-color: rgb(180, 233, 243);
  padding: 5px;
  text-align: center;
  font-size: 16px;
  border: 1px;
  border-color: black;
}

/* Style the side navigation bar */
/*
.sidenav {
  background-color:rgb(89, 119, 125);
}
*/
/* Style the topnav links */
.sidenav a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-weight:bold;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 500px;
  border: 1px;
  border-color: black;
}

/* Left and right column */
.column.sidenav {
  width: 10%;
  border: 1px;
  border-color: black;
}

/* Middle column */
.column.right {
  width: 90%;
}
.content.right, .content.left {
  border: 1px;
  border-color: black;
  border-radius: 5%;
  /*border-bottom-right-radius: 5%;*/
  width: 40%;
  height: 40%;
  float:left;
  margin:2%;
}
.content p,ul {
  font-style: italic;
}
.content.left ul.disc {
  list-style-type: disc;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.sidenav, .column.right {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  overflow: hidden;
  background-color: rgb(180, 233, 243);
  padding: 10px;
  text-align: center;
  border: 1px;
  border-color: black;
}
